{% extends "layout.twig" %}

{% block title %} 

<title>Agregar Project</title>

{% endblock %}



{% block content %}
<h3>Add Project</h3>
<br>
    <form action="../Projects/add" method="post">
        <label for="">Title:</label>
        <input type="text" name="title"> 
        <br>
        <label for="">Description:</label>
        <input type="text" name="description">
        <br>
        <label for="">Month:</label>
        <input type="number" name="month">
        <br>        
        <button type="submit">Save</button> 
    </form>
{% endblock %}