{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href=/CursoPHP/Users/add>Add User</a></li>
    <li><a href=/CursoPHP/Jobs/add>Add Job</a></li>
    <li><a href=/CursoPHP/>Resume</a></li>
</ul>
<br>
<br>
<a href=/CursoPHP/logout>Logout</a>
{% endblock %}